.ARTS{
    display: inline;
    text-decoration: none;
    text-align-last: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: #168aad;
    font-size: x-large;
    font-weight: bolder;
}

a {
    
   text-decoration: none;
   color: #76C297;
   text-align: center;
   font-size: larger;
   font-weight: bolder;
}

.ARTS h2{
    color: #1F4C91;
    font-size: x-large;
    font-weight: bolder;
}

.ARTS h3{
    color: #2A86CC;
}

.ARTS ol{
    display: inline;
}
   