.eng{
    display:inline ;
    justify-self: start;
    color: #d62828;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
    text-align-last: center;
    font-weight: bolder;
    font-size: x-large;

}



.scincec{
    color: #344095;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: larger;


}

.engh{
    text-align: center;
    color:#012A4A ;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
    padding: 20px;
    text-align-last: center;
    position: relative;
    
}


.eng ol{
    display: inline;
}

.management{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #168aad;
    display: inline;
    position: relative;
    padding: 20px;
    transition: ease;

    
}

.management h2 {
    color:#034078 ;
    font-size: large;
    font-weight: bolder;
}
.management h3{
    font-size: large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0a3547;
}

.management ol{
    display: inline;
}

.eng li a{
    color: #d62828;
    text-decoration: none;
    text-align: center;
    border: #168aad4a;
    justify-content: center;
}
.eng li a:hover{
    color: #168aad;
    transition: all 0.3s ease;
}

.management :hover{
    color:#c9184aa8 ;
    transition: 0.5s;
}

.sience{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.design{
    display: inline;
        justify-self: start;
        color: #d62828;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        padding: 5px 10px;
        text-align-last: center;
        font-weight: bolder;
        font-size: x-large;

}

.design h2 {
    font-size: larger;
    font-weight: bolder;
    color: #012A4A;
}

.design h3{
    font-weight: bolder;
  font-size: larger;
  color: #034078;
}
.design ol{
    display: inline;
}

.design a{
    text-decoration: none;
    color: #168aad;
}


.learning{
    display: inline;
        justify-self: start;
        color: #d62828;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        padding: 5px 10px;
        text-align-last: center;
        font-weight: bolder;
        font-size: x-large;

}
.learning h2{
    color: #012A4A;
    font-weight: bolder;
    font-size: larger;
}

.learning h3{
    color: #034078;
    font-weight: bolder;
    font-size: larger;
}
.learning ol{
    display: inline;
}
.learning a{
    text-decoration: none;
}

.sience{
    display: inline;
        justify-self: start;
        color: #344095;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        padding: 5px 10px;
        text-align-last: center;
        font-weight: bolder;
        font-size: x-large;
}


.sience h1{
    color: #012A4A;
        font-weight: bolder;
        font-size: larger;

}
.sience h3{
    color: #168aad;
        font-weight: bolder;
        font-size: larger;
}
.sience a{
    text-decoration: none;
    color: #ff2e2e;
}
.sience li{
    display: inline;
}